.drop-zone {
    border: 1.5px dashed rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70%;
    div {
        display: flex;
        justify-content: center;
        p{
        width: 70%;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 35px;
        color: rgb(153, 153, 153);
        span {
            color: #6050D6;
            cursor: pointer;
        }
    }
    }
}

.drop-zone-disabled {
    opacity: 0.75;
    cursor: not-allowed;
    pointer-events: none;
}
