.ant-btn-primary {
  font-size: large;
  font-weight: 500;
  background-color: #f6f0eb;
  color: black;
  padding: 20px 30px;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: #f6f0eb !important;
    color: #000 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06) !important; // shadow-md
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important; // shadow-sm
  }

  &:disabled,
  &:disabled:hover {
    background: rgb(219, 219, 219) !important;
    color: #f7f1ec !important;
    cursor: not-allowed;
  }
}

.ant-btn-default {
  font-size: medium;
  padding: 20px 20px;
  background-color: #c9c9c9;
  &:hover {
    background-color: #c9c9c9 !important;
    border-color: #c9c9c9 !important;
    color: #000 !important;
  }
}

.ant-input-affix-wrapper {
  padding: 6px 12px;
  margin-bottom: 5px;
  .ant-input {
    font-size: medium;
    font-family: Poppins;
  }
}

.ant-switch-checked {
  background-color: #f6f0eb !important;
  &:hover {
    background-color: #f7f1ec !important;
  }
}


.dark {
  .ant-modal-content {
    background-color: rgb(26, 26, 26) !important;
    .popup-title {
      color: white;
      background: rgb(26, 26, 26);
    }

    .read-only {
      color: white;
    }

    .ant-modal-close {
      .ant-modal-close-x {
        color: white;
      }

      &:hover {
        background-color: #a6d2fc2d;
      }
    }

    .ant-input-affix-wrapper {
      background: #000;
      color: white;
    }

    .add-pass {
      color: white;
    }

    .pass-label {
      color: white;
    }
    .ant-btn-primary {
      font-size: large;
      font-weight: 500;
      background-color: #77bdff;
      color: white;
      padding: 20px 30px;

      &:hover {
        color: #fff !important;
        background-color: #569bdb !important;
      }
      &:disabled {
        background-color: rgb(219, 219, 219) !important;
        color: #f7f1ec !important;
      }
    }

    .ant-btn-default {
      font-size: medium;
      padding: 20px 20px;
      
      &:hover {
        color: #77bdff;
      }
    }

    .ant-input-affix-wrapper {
      padding: 6px 12px;
      margin-bottom: 5px;
      background: #000 !important;
      .ant-input {
        font-size: medium;
        font-family: Poppins;
      }
    }

    .ant-switch-checked {
      background-color: #77bdff !important;
      &:hover {
        background-color: #569bdb !important;
      }
    }
  }

}
