.dark {
  .main-container {
    background-color: #090c11 !important;
  }
}
.main-container {
  background-color: #fff;
  width: 100%;
  .left-section {
    .switcher {
      cursor: pointer;
      img {
        height: 35px;
      }
      .tab-Icons {
        color: rgb(160, 138, 119);
      }
    }
  }

  div {
    .clear-btn {
      background-color: #eee;
      &:hover {
        background-color: #ddd;
      }

      &:disabled {
        background-color: #dcdcdc;
        color: white;
        cursor: not-allowed;
        transform: scale(1) !important;
      }
    }
  }

  .right-section {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    height: 100%;
    h1 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .urls-container {
      a {
        color: #638eff;
        font-size: 20px;
        width: fit-content;

        &:hover {
          color: #5c8aff;
          text-decoration: underline;
        }
      }
    }

    .dropzone {
      border: 1.5px dashed rgb(211, 211, 211);
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        p {
          width: 70%;
          text-align: center;
          font-weight: 300;
          font-size: 18px;
          line-height: 35px;
          color: rgb(153, 153, 153);
          span {
            color: #77bdff;
            cursor: pointer;
          }
        }
      }
    }

    .withFiles {
      .dropzone {
        width: 120px;
        height: 120px;
        cursor: pointer;
        transition: all 0.2s ease;
        .dropzone-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          svg {
            font-size: 25px;
            color: rgb(160, 138, 119);
          }

          div {
            display: flex;
            flex-direction: column;
            span {
              color: rgb(160, 138, 119);
              font-weight: 700;
              font-size: 15px;
              text-align: center;
            }

            span:last-child {
              color: rgb(156, 156, 156);
              font-size: 12px;
              font-weight: 400;
            }
          }
        }

        &:hover {
          background-color: rgba(226, 226, 226, 0.779);
          border: 1.5px dashed #638eff;
        }
      }
    }
  }
}

.dark {
  .left-section {
    background: #090c11;
    .switcher {
      cursor: pointer;
      &:hover {
        background-color: #333;
      }

      .tab-Icons {
        color: #77bdff !important;
      }
    }
  }
  div {
    .clear-btn {
      background-color: #222 !important;
      &:hover {

        background-color: #333 !important;
      }
    }
  }
  .right-section {
    background-color: #090c11 !important;
    .withFiles {
      .dropzone {
        &:hover {
          background-color: #333 !important;
          border-color: #77bdff !important;
        }

        .dropzone-text {
          svg {
            color: #77bdff;
          }

          div {
            span {
              color: #77bdff;
            }
          }
        }
      }
    }
  }
}
