.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 35px;
  height: 75px;
  .img-conatiner {
    .logo-img {
      height: 100%;
      object-fit: cover;
    }
  }

  .list-container {
    ul {
      display: flex;
      align-items: center;
      gap: 60px;
      color: #333;
      font-size: 14px;
      li {
        list-style-type: none;
        transition: all ease;
        &:hover {
          color: rgb(160, 138, 119);
          transform: scale(1.05);
        }
      }
    }
  }
}
.dark {
  .header {
    .list-container {
      ul {
        li {
          color: white;
          &:hover {
            color: #77bdff;
          }
        }
      }
    }
  }
}
